name: Android Release Workflow

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'
    tags-ignore:
      - 'v*'

  pull_request:
    branches:
      - main
      - master

  workflow_call:
  workflow_dispatch:
#    inputs:
#      releaseToGooglePlay:
#        description: 'Release to Google Play?'
#        required: true
#        default: 'false'

#concurrency:
#  group: ${{ github.workflow }}-${{ github.ref }}
#  cancel-in-progress: true

env:
  API_KEY: ${{ secrets.API_KEY }}

jobs:
  aab:
    name: Generate AAB
    timeout-minutes: 60
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - run: |
          echo $CIVIT_SERVICES > android/google-services.json
        env:
          CIVIT_SERVICES: ${{ secrets.CIVIT_SERVICES }}

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 21

      - name: Get tag name
        id: get_tag_name
        run: |
          set -x
          echo "VERSION_TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - name: Export Libraries
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
          arguments: "exportLibraryDefinitions"

      - name: Build Artifacts
        id: buildApks
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true
          arguments: android:bundle

      - uses: kevin-david/zipalign-sign-android-release@v2.0.1
        name: Sign app APK
        id: civit_browser_sign
        with:
          releaseDirectory: android/build/outputs/bundle/release/
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}

      - name: Clean up build artifacts
        run: |
          cp ${{ steps.civit_browser_sign.outputs.signedReleaseFile }} civitbrowser-release.aab

      - uses: actions/upload-artifact@v4
        with:
          name: Signed Civit App
          path: civitbrowser-release.aab

  apk:
    name: Generate Apk
    timeout-minutes: 60
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - run: |
          echo $CIVIT_SERVICES > android/google-services.json
        env:
          CIVIT_SERVICES: ${{ secrets.CIVIT_SERVICES }}

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 21

      - name: Get tag name
        id: get_tag_name
        run: |
          set -x
          echo "VERSION_TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - name: Export Libraries
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
          arguments: "exportLibraryDefinitions"

      - name: Build Artifacts
        id: buildApks
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true
          arguments: android:assembleRelease

      - uses: kevin-david/zipalign-sign-android-release@v2.0.1
        name: Sign app APK
        id: civit_apk_sign
        with:
          releaseDirectory: android/build/outputs/apk/release/
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          # override default build-tools version (33.0.0) -- optional
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: Clean up build artifacts
        run: |
          cp ${{ steps.civit_apk_sign.outputs.signedReleaseFile }} civit-release.apk

      - uses: actions/upload-artifact@v4
        with:
          name: Signed Civit Apk
          path: civit-release.apk

  apkMinified:
    name: Generate Minified Apk
    timeout-minutes: 60
    continue-on-error: true
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - run: |
          echo $CIVIT_SERVICES > android/google-services.json
        env:
          CIVIT_SERVICES: ${{ secrets.CIVIT_SERVICES }}

      - name: Setup JDK
        uses: actions/setup-java@v5
        with:
          distribution: adopt
          java-version: 21

      - name: Get tag name
        id: get_tag_name
        run: |
          set -x
          echo "VERSION_TAG=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV

      - name: Export Libraries
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
          arguments: "exportLibraryDefinitions"

      - name: Build Minified Artifacts
        id: buildApks
        uses: gradle/gradle-build-action@v2
        with:
          gradle-version: current
          wrapper-cache-enabled: true
          dependencies-cache-enabled: true
          configuration-cache-enabled: true
          arguments: android:assembleReleaseMinified

      - uses: kevin-david/zipalign-sign-android-release@v2.0.1
        name: Sign minified app APK
        id: civit_minified_apk_sign
        with:
          releaseDirectory: android/build/outputs/apk/releaseMinified/
          signingKeyBase64: ${{ secrets.SIGNING_KEY }}
          alias: ${{ secrets.ALIAS }}
          keyStorePassword: ${{ secrets.KEYSTORE_PASSWORD }}
          keyPassword: ${{ secrets.KEY_PASSWORD }}
        env:
          # override default build-tools version (33.0.0) -- optional
          BUILD_TOOLS_VERSION: "34.0.0"

      - name: Clean up build artifacts
        run: |
          cp ${{ steps.civit_minified_apk_sign.outputs.signedReleaseFile }} civit-release-minified.apk

      - uses: actions/upload-artifact@v4
        with:
          name: Signed Minified Civit Apk
          path: civit-release-minified.apk