name: iOS CI

on:
  push:
    branches:
      - master
    paths-ignore:
      - '.github/**'
    tags-ignore:
      - 'v*'

  pull_request:
    branches:
      - main
      - master

  workflow_call:
  workflow_dispatch:

# Cancel any current or previous job from the same PR
concurrency:
  group: ios-${{ github.head_ref }}
  cancel-in-progress: true


jobs:
  build:
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-java@v5
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Build iOS app
        run: xcodebuild -workspace iosApp/iosApp.xcodeproj/project.xcworkspace -configuration Debug -scheme iosApp -sdk iphonesimulator